$midnight-blue : #2c3e50;
$navbar-background : red;

body {
  background-color: $midnight-blue;
  margin: 0;
}

.navbar-container {
  display: flex;
  background-color: $navbar-background;

  button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    p {
      padding: 5px;
      background-color: transparent; /* Green */
      color: white;
    }
  }

  .navbar-left {
    width: 100%;
    display:flex;
  }

  .navbar-right {
    display:flex;
    align-items: center;

    img {
      width: 2em;
    }

  }

  button:hover {
    p {
      background-color: blue;
    }
  }
  button:active {
    p {
      background-color: black;
    }
  }
}